{% extends "base.html" %}

{% load pytils_dt %}
{% load bootstrap_pagination %}
{% load bootstrap3 %}

{% block content %}
    {% for img in images_list %}
        <div class="col-md-3 col-lg-3">
            <a href="{% url 'preview' img.text_id %}">
                <img class="gallery_thumb" src="{{ MEDIA_URL }}/{{ img.get_thumb_path }}"
                     {% if img.get_preview_path %}href="{{ MEDIA_URL }}/{{ img.get_preview_path }}"{% endif %}/>
            </a>
        </div>
        {% if forloop.counter|divisibleby:4 %}</div>
            <div class="row">{% endif %}
    {% endfor %}
<div class="col-lg-12">
    {% bootstrap_paginate page_obj range=10 %}
</div>
{% endblock content %}