{% extends "base.html" %}

{% load pytils_dt %}
{% load bootstrap_pagination %}
{% load bootstrap3 %}

{% block content_outer %}
<div class="container container-home">
  <a href="/b.html" class="randomlogo"><img src="{{ logo.image.url }}"></a>
  <div class="jumbotron">
    Как известно, все думающие люди любят анонимность. Анонимность позволяет говорить друг другу максимально нежные и
    ласковые вещи без оглядки на собственную репутацию и ваше отношение к собеседнику. Через анонимность можно
    поделиться
    собственной мудростью с общественностью, пожаловаться или поведать о грустной истории. Поговорить о политике или
    котиках, показать смишную картинку, в общем, сделать все, что вам так давно хотелось, но не позволяла религия или
    карма.
  </div>
  <p>Апачан основан 5 марта 2009 года (см. данные WHOIS по домену) как эксперимент в области социальной психологии с
    участием добровольцев.</p>
  <p>11 января 2016 года европейскими борцами за нравственность по ложному навету навсегда засуспенжен домен
    apachan.net. Но он навеки останется в наших сердцах.</p>
  <p>Апачан является типичным образцом Демократической и Статистической Диктатуры и неспешно управляется Дуумвиратом
    Добровольно Деанонимизировавшихся Отцов-Основателей (в дальнейшем "Оккупационная Администрация") с учётом мнений
    Анонимуса.</p>
  <p>Оккупационной Администрации не нравится:
  <ol>
    <li>Вайпы, флуд, форсинг тупняка, неймфажество, гетоёбство, ссылки c пробелами, ссылки без описания
      "япростооставлюэтоздесьдискас", односложные типовые высеры "ухожуотвасначоточан", посты, не несущие смысловой
      нагрузки или не имеющие отношения к тематике сайта, а так же прочие признаки прогрессирующего умственного
      бессилия (идиотии).
    </li>
    <li class="text-danger"><b>Размещение нелегального контента (<b>в частности,
      <noindex>детского порно</noindex>
      ,
      информации о способах самоубийства, рецептах изготовления и особенностях употребления наркотических веществ</b>),
      а так же несогласованной с Администрацией рекламы.</b></li>
    <li>Упоминания Администрации всуе и без должного уважения, попытки делать заявления от имени Администрации.</li>
  </ol>
  <p>
    На не-борде работает разметка <a href="http://rukeba.com/by-the-way/markdown-sintaksis-po-russki/">Markdown</a>
    плюс тэг <code>[SPOILER: Кто убил Лору Палмер?]</code>
  </p>
  <p>Для размещения видео/aудио вставьте в нужное место поста ссылку на страницу YouTube, RuTube, Vimeo, RedTube или
    SoundCloud.</p>
  <p>Кнопка <i class="fa fa-check text-success"></i> добавляет пост в избранное на сайте.</p>
  <p>Оккупационная Администрация и модераторы никогда не вступают в переписку с пользователями на не-борде. Анонимус
    может воззвать к Оккупационной Администрации
    <a href="http://demotivation.me/0ixq1u1biut9pic.html" target="_blank">здесь</a> и быть услышанным. Или нет.
  <!-- <p>ОП может минусовать комментарии в своём треде, тем самым скрывая ненужное.</p> -->
  <p>Если вам хочется видеть на Апачане новый рандомпак или дополнить существующий - сделайте тематическую подборку
    сами (JPEG, 200x200px, архив ZIP или RAR) и зашлите <a href=mailto:apazhe.net@gmail.com>сюда</a>. Администрация
    может отказать в установке без объяснения причин.</p>
  <p>Ещё вы можете скреативить <a href="/static/apachan_new_600.psd">по шаблону</a> свою шапку для этой страницы и
    выслать
    её по вышеуказанному адресу.</p>
  <hr>

  <center>
    <p>
      <small>За последние сутки анононимные пользователи запостили 31 тредов и 431 комментариев.</small>
    </p>

    <script type="text/javascript">var chatParams = {"enterButton":false}</script>
    <a href="/apachat">
      <script type="text/javascript" charset="UTF-8" src="http://chatadelic.net/widget/userCount?chat=24232"></script>
    </a>
  </center>

  <form class="form-inline" method="get" action="http://google.ru/search" target="_blank">
    <div class="form-group">
      <input class="form-control" name="q" size="42" type="text" placeholder="Как отсюда выйти?"/>
    </div>
    <input name="sitesearch" value="apachan.net" type="hidden"/>
    <button type="submit" class="btn btn-default">Искать на сайте</button>
  </form>

  <hr/>
  <ul>
    <li><a href="/all.html">Поток</a> &mdash; Все посты борды, категории можно выбрать в меню навигации.</li>
    <li><a href="/images.php">Галерея</a> &mdash; Все картинки борды в одном разделе.</li>
    <li><a href="/best.php">Лучшие Треды</a> &mdash; Не скупись на плюсы.</li>
  </ul>
</div>
{% endblock content_outer %}